<div class="layout">
    <form 
        class="form" 
        [formGroup]="addEditForm"
        (ngSubmit)="handleSave()"
    >
        <div class="row">
            <h3>Create task</h3>
            <button (click)="closeForm()">Close</button>
        </div>
        <hr width="100%">
        <div class="row">
            <label>Title</label>
            <input 
                type="text" 
                max="100" 
                formControlName="title" 
                name="title"
                [ngClass]="{'invalid' : checkInputIsValid('title')}"
            >
        </div>
        <div class="row">
            <label>Description</label>
            <textarea 
                cols="30"
                rows="10" 
                formControlName="description" 
                name="description"
                [ngClass]="{'invalid': checkInputIsValid('description')}"
            ></textarea> 
        </div>
        <div class="row">
            <label>Deadline</label>
            <input
                type="date" 
                [min]="getCurrentDate()"
                formControlName="deadline"
                name="deadline"
                [ngClass]="{'invalid': checkInputIsValid('deadline')}"
            >
        </div>
        <div class="row">
            <label>Progress in %</label>
            <input 
                type="number" 
                [min]="0" 
                max="100" 
                formControlName="progress" 
                name="progress"
                [ngClass]="{'invalid': checkInputIsValid('progress')}"
            >
        </div>
        <div class="row">
            <label>Estimated time in hours</label>
            <input 
                type="number" 
                max="120" 
                min="0" 
                formControlName="estimated"
                name="estimated"
                [ngClass]="{'invalid': checkInputIsValid('estimated')}"
            >
        </div>
        <button 
            type="submit"
            class="submit-btn" 
            [disabled]="!addEditForm.valid"
        >Save</button>
    </form>
</div>