<div class="card">
    <h2 [ngStyle]="{
        color: card.title.length < 5 ? 'black' : 'blue'
    }">{{ index }} {{ card.title }}</h2>

    
    <!-- <p class="text" [ngClass]="{
        red: textColor === 'red',
        green: textColor === 'green'
    }">{{ text }}</p> -->

    <p class="text" 
        [class.green]="textColor === 'green'"
        [class.red]="textColor === 'red'"
    >{{ card.text }}</p>

    <div>
        <!-- <input #myInput type="text" [value]="title" (input)="inputHandler(myInput.value)"> -->
        <input type="text" [(ngModel)]="card.title">

        <button (click)="textColor = 'red'">Set red</button>
        <button (click)="textColor = 'green'">Set green</button>

        <button (click)="changeTitle()">Change title</button>
    </div>

    <div>
        <strong>{{ cardDate | date }}</strong>
    </div>
</div>